.cards {
    display: flex;
    justify-content: center;
}

.container {
    width: 900px;
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}